# Banco de Dados
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=5432
POSTGRES_DB=

# Email (SMTP)
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False

# Django Core
DJANGO_DEBUG=False
DJANGO_SECRET_KEY=
DJANGO_ALLOWED_HOSTS=
DJANGO_SETTINGS_MODULE=config.settings.base

# URLs do Sistema
DJANGO_ADMIN_URL=https://api.dominio.com.br/admin
DJANGO_API_URL=https://api.dominio.com.br/api
FRONTEND_URL=https://app.dominio.com.br

# Segurança e CORS (Frontend <-> Backend)
# Lista de domínios permitidos (separados por vírgula)
DJANGO_CORS_ALLOWED_ORIGINS=https://app.dominio.com.br
DJANGO_CSRF_TRUSTED_ORIGINS=https://app.dominio.com.br

# Segurança de Cookies (Obrigatório True em Produção com HTTPS)
# Em ambiente local (sem HTTPS), defina como False
DJANGO_SESSION_COOKIE_SECURE=True
DJANGO_CSRF_COOKIE_SECURE=True

# Configurações Adicionais
DJANGO_DEFAULT_TO_EMAIL=
DJANGO_EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
