<form method="get" class="filtro-baixados-periodo-form">
  {% for chave, valor in cl.params.items %}
    {% if chave != spec.parameter_name %}
      <input type="hidden" name="{{ chave }}" value="{{ valor }}">
    {% endif %}
  {% endfor %}

  <label class="filtro-baixados-periodo-label">
    <input
      type="checkbox"
      name="{{ spec.parameter_name }}"
      value="1"
      {% if spec.value == '1' %}checked{% endif %}
      onchange="this.form.submit()"
    >
    <span>{{ title }}</span>
  </label>
</form>