{% extends "admin/base_auth.html" %}
{% load i18n %}

{% block title %}Redefina sua senha{% endblock %}
{% block brand_title %}Redefina sua senha{% endblock %}
{% block brand_subtitle %}{% endblock %}
{% block form_action %}{% url 'password_change' %}{% endblock %}
{% block submit_label %}Salvar{% endblock %}

{% block pre_form %}
  <p style="font-size: .95rem; color: #444; margin-bottom: .75rem;">
    Crie uma nova senha:
  </p>
  <ul style="font-size:.8rem;color:#555;margin:0 0 1.25rem 1.3rem;">
    <li style="margin-bottom: 0.3rem;">Sua senha não deve conter informações pessoais.</li>
    <li style="margin-bottom: 0.3rem;">Sua senha deve ter ao menos 6 caracteres.</li>
    <li style="margin-bottom: 0.3rem;">Sua senha deve conter letras, números e caracteres especiais.</li>
  </ul>
{% endblock %}

{% block form_fields %}
  <div class="form-group">
    <label for="{{ form.new_password1.id_for_label }}">Nova Senha</label>
    {{ form.new_password1 }}
    {% for e in form.new_password1.errors %}<div class="error-message" style="margin-top:8px">{{ e }}</div>{% endfor %}
  </div>
  <div class="form-group">
    <label for="{{ form.new_password2.id_for_label }}">Confirme a nova senha</label>
    {{ form.new_password2 }}
    {% for e in form.new_password2.errors %}<div class="error-message" style="margin-top:8px">{{ e }}</div>{% endfor %}
  </div>
{% endblock %}

{% block hidden_next %}
  {% with next_param=request.GET.next|default:next %}
    {% if next_param %}
      <input type="hidden" name="next" value="{{ next_param }}">
    {% endif %}
  {% endwith %}

  {% with uid=request.GET.user_id|default:user_id %}
    {% if uid %}
      <input type="hidden" name="user_id" value="{{ uid }}">
    {% endif %}
  {% endwith %}
{% endblock %}