{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block object-tools %}
{% if change and not is_popup %}
  <ul class="object-tools">
    {% block object-tools-items %}
      {{ block.super }}
      {% if original and original.pk and original.numero %}
        <li>
          <a href="{% url 'admin:nbbpm_pdf' original.pk %}" class="button" target="_blank" style="background:#198754; border-color:#198754; color:#fff !important;">
            Baixar PDF
          </a>
        </li>
      {% endif %}
    {% endblock %}
  </ul>
{% endif %}
{% endblock %}
